body {
    margin: auto;
}

#listeStructures, #listeStructures th, #listeStructures td {
    border: 1px solid black;
    border-collapse: collapse;
}

#listeStructures {
    text-align: center;
}

input[type=submit] {
    margin: 0.5em;
}

form {
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.column {
    display: inline-block;
}

.deleteSecteur{
    background: url(../../src/delete.png) no-repeat;
}

.modifieSecteur{
    background: url(../../src/edit-button.png) no-repeat;
}


.deleteSecteur, .modifieSecteur {
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;

    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    width: 20px;
    height: 20px;
    background-size: 100%
}


